.notion {
  --fg-color: rgb(48, 46, 41);
  
  --select-color-0: rgb(91, 155, 38);
  --select-color-1: rgba(219, 71, 45, 0.2);
  --select-color-2: #d9eff8;
}

.notion {
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--fg-color);
  caret-color: var(--fg-color);
  font-family: unset;
}

.notion-page {
  width: 100%;
  max-width: unset;
}

.notion-link {
  padding: 0 0 1px;
  box-sizing: border-box;
  font-weight: 600;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 0.5em), rgba(101, 153, 59, 0.5) calc(50% - 0.5em), rgba(101, 153, 59, 0.5) 100%);
  transition: background-position 200ms ease-in-out 0s, color 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0 0;
  border: none;
  opacity: 0.9;
}

.notion-link:hover {
  padding: 0 0 1px;
  color: #f4f4f4;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 0.5em), rgba(75, 116, 44, 0.7) calc(50% - 0.5em), rgba(75, 116, 44, 0.7) 100%);
  background-position: 0 100%;
}

/*.notion-asset-wrapper {*/
/*  max-width: unset;*/
/*}*/

.notion-asset-wrapper-full {
  width: 64rem !important;
  max-width: 90vw !important;
}

.notion-text {
  padding: 6px 2px;
}

.notion-asset-caption {
  text-align: center;
  padding: 20px 0 6px 2px;
}

.notion-collection {
  align-self: center;
  width: 100%;
  /*background-color: rgba(247, 250, 252, 0.5);*/
}

.notion-collection-header {
  padding: 0 !important;
}

.notion-collection-view-dropdown {
  display: none !important;
}

.notion-table {
  width: 100% !important;
  max-width: unset;
  background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .25), rgba(255, 255, 255, 0.8)), linear-gradient(to left, rgba(0, 0, 20, .25), rgba(255, 255, 255, 0.7));
  /* Shadows */
  /* Shadow covers */
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 45px 100%, 45px 100%, 40px 100%, 40px 100%;
  background-attachment: local, local, scroll, scroll;
  align-self: center;
  border: 2px solid #e8e1d4;
  border-top: 1px solid #e8e1d4;
  overflow: auto hidden;
}

.notion-table-view {
  background: transparent;
  padding: 0 !important;
  border-radius: 10px;
}

.notion-board {
  width: 100% !important;
}

.notion-board-view {
  max-width: 100% !important;
  padding: 0 !important;
}

.notion-board-view-size-small,
.notion-collection-card,
.notion-collection-card-cover {
  height: 100px;
}

.notion-board-view-size-large,
.notion-collection-card,
.notion-collection-card-cover {
  height: 180px;
}

.notion-to-do {
  width: unset;
}

.notion-collection-card-property,
.notion-property-relation,
.notion-page-title-text {
  border-bottom: 1px solid;
}

.notion-page-title-text {
  border-bottom: 0!important;
}

.notion-collection-row-property,
.notion-property-relation,
.notion-page-title-text {
  border-bottom: 1px solid;
}

.notion-list-item-property .notion-property-multi_select-item {
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.notion-header .nav-header {
  line-height: 1.5;
}

.notion-search {
  font-family: unset;
}

.medium-zoom-image {
  pointer-events: none;
  border-radius: 4px !important;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.notion.notion-page > .notion-collection-row:first-of-type {
  display: none !important;
}

.notion.notion-page > .notion-collection-row:nth-of-type(2) {
  width: 100% !important;
  white-space: pre-wrap !important;
  word-break: break-word !important;
  padding: 3px 2px !important;
  margin: 1px 0 !important;
  border: none !important;
}

.notion.notion-page > .notion-asset-wrapper-full.notion-asset-wrapper-image:first-of-type {
  width: 64rem !important;
  max-width: 90vw !important;
  margin-top: -4.25rem;
}

.notion.notion-page > .notion-asset-wrapper-full.notion-asset-wrapper-image:first-of-type img {
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.notion.notion-page > .notion-asset-wrapper.notion-asset-wrapper-image:not(.notion-asset-wrapper-full) > div {
  height: auto !important;
  background-color: #f5f3ef;
}

.notion.notion-page > .notion-asset-wrapper.notion-asset-wrapper-image.notion-asset-wrapper-full:nth-child(2) > div {
  height: auto !important;
  background-color: #f5f3ef;
}
